* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

body {
  line-height: 1.6;
}

/* cabeza */
.header {
  background-color: #48535f;
  color: white;
  padding: 5vh 5vw;
  height: 72.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boton {
  background: #3f4a53;
  color: white;
  padding: 3px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  display: inline-block;

  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.726),
    inset 0px -2px 4px rgba(255, 255, 255, 0.087);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 40px;
}

.ul {
  list-style: none;
  display: flex;
  gap: 2vw;
}

.nav a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.nav a.active,
.nav a:hover {
  opacity: 1;
}

/* Marcas */

.marcas {
  display: flex;
  justify-content: space-around;
  background-color: rgb(229, 229, 229);
  padding: 20px;
}

/* Banner*/
.banner {
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
}

.iphone {
  width: 25vw;
  min-width: 200px;
}

.text {
  width: 40vw;
  min-width: 300px;
}

.text h2 {
  font-size: 2.8rem;
}

.text span {
  color: #fff;
  font-weight: bold;
}

.text p {
  margin: 1vh;
  opacity: 0.9;
}
.subText {
  color: gray;
}

.boton1 {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
}

.btn1 {
  padding: 12px 35px;
  background: linear-gradient(#4db1f7, #1c86d1);
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.626),
    inset 0 2px 4px rgba(255, 255, 255, 0.432);
}

.btn {
  background: #2f7ed8;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 19px;
}

.btn:hover {
  background: #1d5aa3;
}

.boton1 a {
  margin-top: 9px;
  color: white;
  margin-left: 10px;
  text-decoration: underline;
}

/* servicios */
.servicios {
  display: flex;
  justify-content: space-around;
  padding: 8vh 5vw;
  background-color: white;
  text-align: center;
}

.servicio {
  width: 25%;
}

.servicio .icon {
  font-size: 3rem;
  margin-bottom: 1vh;
}

.servicio h3 {
  color: #455a71;
}

.servicio p {
  margin: 1vh 0 2vh;
}

.servicio .btn {
  font-size: 0.8rem;
}

/* proyectos */
.proyectos {
  padding: 8vh 5vw;
  width: 100%;
}

.proyectos-gallery {
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4vh;
}

.proyectos-gallery img {
  width: 15vw;
  height: auto;
}

/* blog y twitter */
.informacion {
  display: flex;
  justify-content: space-around;
  padding: 8vh 5vw;
  background-color: #fff;
}
.informacion img {
  margin-right: 20px;
}

.blog,
.twitter {
  width: 40%;
}

a {
  color: #2f7ed8;
  text-decoration: none;
}

.informacion h3 {
  color: #2f7ed8;
  margin-bottom: 2vh;
}

.texto {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
}

/* pie de pagina */
.linea {
  padding: 1vh 5vw;
}
footer {
  padding: 3vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redes a {
  color: white;
  margin-left: 1vw;
  font-size: 22px;
}


/* resposivo */


/* TABLET */

@media (max-width: 1024px) {

  .header {
    height: auto;
    padding: 4vh 5vw;
  }

  .logo {
    font-size: 32px;
  }

  .ul {
    gap: 4vw;
  }

  /* Banner */
  .banner {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .iphone {
    width: 40vw;
    margin-bottom: 3vh;
  }

  .text {
    width: 80vw;
  }

  .text h2 {
    font-size: 40px;
  }

  .boton1 {
    justify-content: center;
  }

  /* Servicios */
  .servicios {
    flex-wrap: wrap;
    gap: 4vh;
  }

  .servicio {
    width: 45%;
  }

  /* Proyectos */
  .proyectos-gallery img {
    width: 30vw;
  }

  /* Información */
  .informacion {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .blog, .twitter {
    width: 90%;
    margin-bottom: 5vh;
  }

  .texto {
    justify-content: center;
  }
}

/* telefono */

@media (max-width: 768px) {
  .header {
    padding: 3vh 5vw;
    height: auto;
  }

  .nav {
    flex-direction: column;
    gap: 2vh;
  }

  
  .logo {
    font-size: 35px;
  }

  .nav ul {
    flex-direction: column;
  }

  /* Banner */
  .banner {
    flex-direction: column;
    text-align: center;
    height: auto;
    margin-top: 3vh;
  }

  .iphone {
    width: 60vw;
    margin-bottom: 3vh;
  }

  .text {
    width: 90vw;
  }

  .text h2 {
    font-size: 30px;
  }

  .boton1 {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .btn1 {
    padding: 10px 25px;
  }

  /* Marcas */
  .marcas {
    flex-wrap: wrap;
    gap: 3vh;
    justify-content: center;
  }

  /* Servicios */
  .servicios {
    flex-direction: column;
    gap: 5vh;
    padding: 5vh 5vw;
  }

  .servicio {
    width: 100%;
  }

  /* Proyectos */
  .proyectos-gallery {
    justify-content: center;
    gap: 3vh;
  }

  .proyectos-gallery img {
    width: 40vw;
  }

  /* Blog y Twitter */
  .informacion {
    flex-direction: column;
    text-align: left;
    gap: 5vh;
  }

  .blog,
  .twitter {
    width: 100%;
  }

  .texto {
    flex-direction: column;
  }

  /* Footer */
  footer {
    flex-direction: column;
    gap: 2vh;
    text-align: center;
  }

  .redes a {
    font-size: 26px;
    margin-left: 3vw;
  }
}
