* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

body {
  line-height: 1.6;
}

/* Header */
.header {
  background-color: #48535f;
  color: white;
  padding: 5vh 5vw;
  height: 72.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boton {
  background: #3f4a53;
  color: white;
  padding: 3px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  display: inline-block;

  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.726),
    inset 0px -2px 4px rgba(255, 255, 255, 0.087);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 40px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2vw;
}

.nav a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.nav a.active,
.nav a:hover {
  opacity: 1;
}

/* Marcas */

.marcas {
  display: flex;
  justify-content: space-around;
  background-color: rgb(229, 229, 229);
  padding: 20px;
}

/* Banner*/
.banner {
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
}

.iphone {
  width: 25vw;
  min-width: 200px;
}

.text {
  width: 40vw;
  min-width: 300px;
}

.text h2 {
  font-size: 2.8rem;
}

.text span {
  color: #fff;
  font-weight: bold;
}

.text p {
  margin: 1vh;
  opacity: 0.9;
}
.sub {
  color: gray;
}

.boton1 {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
}

.btn1 {
  padding: 12px 35px;
  background: linear-gradient(#4db1f7, #1c86d1);
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.626),
    inset 0 2px 4px rgba(255, 255, 255, 0.432);


}

.btn {
  background: #2f7ed8;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 19px;
}

.btn:hover {
  background: #1d5aa3;
}

.boton1 a {
  margin-top: 9px;
  color: white;
  margin-left: 10px;
  text-decoration: underline; 
}


